button {
  background-color: $secondary-backgroud;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin: 15px;
  font-size: $mobile-size;
  box-shadow: 4px 6px 6px #7D7D7D;
  border-color: solid $primary-font 1px;
  cursor: pointer;

    &:hover {
    box-shadow: -4px -6px 6px #7D7D7D;
    background-color: $accent-color;
  }
}

.glide__arrow {
  width: 50px;
  height: 20px;
}

.location-selection {
  width: 100px;
  height: 30px;
  font-size: .75em;
  padding-top: 5px;
}
