.traveler-dashboard {
  height: 92%;
  width: 100%;
  @include flexAlignColumn();
}


.welcome {
  font-size: 3em;
  margin: 30px;
  text-align: center;
  font-family: $title-font;  
}

.welcome-pic {
  height: auto;
  width: 60%;
  border-radius: 20px;
  box-shadow: $image-shadow;
}

.tag-line {
  font-size: 1.25em;
  margin: 60px 0px 20px 0px;
  font-family: $title-font;  
}

.dashboard-buttons {
  height: auto;
  @include flexAlignColumn();
}
