.all-page-header {
  background-color: $primary-font;
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: .25em solid $accent-color;
}

.company-name {
  font-family: $title-font;
  color: $accent-color;
  margin-right: 10px;
}

.umbrella-logo {
  height: 2.5em;
  width: 2.5em;
  margin-right: 10px;
  transform: rotate(-20deg);
}

