.my-trips {
  height: 92%;
  width: 100%;
  @include flexAlignColumn();
}

.my-trips-header {
  font-family: $title-font;
  margin: 20px;
  font-size: 2.5em;
}

.trips-time-headings {
  font-family: $title-font;
  font-size: 2em;
  margin: 20px 0px 10px 0px;
  text-decoration: underline;
}

.current {
  @include setHeightAndWidth();
  @include flexAlignColumn();
  justify-content: center;
}

.current-display {
  @include flexAlignColumn();
}

.upcoming-container,
.pending-container,
.past-container {
@include setHeightAndWidth();
}

.glide_slide {
  @include setHeightAndWidth();
  @include flexAlignColumn();
}

.trip-details {
  @include flexAlignColumn();
  font-size: $mobile-size;
  margin-top: 20px;
}

.slide-pics,
.current-trip-img {
  @include setHeightAndWidth();
  border: 1px solid $primary-font;
  box-shadow: $image-shadow;
  border-radius: 20px;
}

.glide__arrows {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.my-trips-home-button {
  height: auto;
  @include flexAlignColumn();
}
