
.our-story {
  height: 100vh;
  width: 100vw;
  @include flexAlignColumn();  
}


.real-umbrella-lady {
  font-family: $title-font;
  margin: 20px;
  font-size: 2.5em;
  text-align: center;
}

.story-container {
  height: 50%;
  width: auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.story-slide-pics {
  height: 80%;
  width: auto;
  border: 1px solid $primary-font;
  box-shadow: $image-shadow;
  border-radius: 20px;
}

.the-story {
  height: auto;
  width: 80%;
  font-size: $mobile-size;
  box-shadow: $image-shadow;
  border-radius: 20px;
  justify-content: center;
  padding: 20px;
}


