//Fonts
$title-font: 'Style Script', cursive;
$main-font: 'Montserrat', sans-serif;

//Colors
$primary-font: #1E2640;
$secondary-font: #F9BDC0;
$primary-background: #F3EAC0;
$secondary-backgroud: #15B5B0;
$accent-color: #6DECE0